$primary-color: #1976d2;
$secondary-color: #424242;
$accent-color: #82b1ff;
$error-color: #ff5252;

$main-background-color-dark: #121212;
$main-background-color-light: #f6f8ff;

$background-color-light: #ffffff;
$background-color-dark: #121212;

$card-background-color-dark: #1e1e1e;
$card2-background-color-dark: #272727;

$card-background-color-light: #ffffff;
$card2-background-color-light: #f6f6f6;

$table-header-background-color-dark: #323031;
$table-header-background-color-light: #f6f6f6;
$table-body-background-color-dark: #3d3b3c;
$table-body-background-color-light: #ffffff;

$deleted-row-color-dark: #fd41416d;
$deleted-row-color-light: #ffbebe;
