$primary-color: #1976d2;
$secondary-color: #424242;
$accent-color: #82b1ff;
$error-color: #ff5252;

$main-background-color-dark: #000000;
$main-background-color-light: #f6f8ff;

$background-color-light: #ffffff;
$background-color-dark: #000000;

$card-background-color-dark: #0d0d0d;
$card2-background-color-dark: #141414;

$card-background-color-light: #ffffff;
$card2-background-color-light: #f6f6f6;

$table-header-background-color-dark: #141414;
$table-header-background-color-light: #f1f5f9;
$table-body-background-color-dark: #0d0d0d;
$table-body-background-color-light: #ffffff;

$deleted-row-color-dark: #fd41416d;
$deleted-row-color-light: #ffbebe;
