/* Keep code blocks from overflowing within Vuetify layouts */
.prose pre code {
  white-space: pre-wrap;
  word-break: break-word;
}

/* Inline code chip look */
.prose :where(code):not(:where(pre code)) {
  padding: 0.15rem 0.3rem;
  border-radius: 0.25rem;
}

/* Make tables scroll on small screens */
.prose :where(table) {
  display: block;
  overflow-x: auto;
}

.prose :where(h1):not(:where(.not-prose, .not-prose *)) {
  font-size: 2.25em; /* 36px */
  margin-top: 0;
  margin-bottom: 0.3em; /* tune here */
  line-height: 1.05;
}

@media (min-width: 64rem) {
  .prose-lg :where(h1):not(:where(.not-prose, .not-prose *)) {
    font-size: 3em; /* 48px */
    margin-bottom: 0.2em;
  }
}
